*{
    margin : 0;
    padding : 0;
    box-sizing : border-box ;
}
h1, footer{
    text-align: center;
}

h2, p{
    padding: 10px;
}

nav, footer{
    background-color: blue;
    } 
nav a, footer{
    color: white;
}